* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-weight: 700;
    color: #fff;
    overflow: hidden;}

body > section{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
}
body > section > div.controls{
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
}
body > section > div.controls > div{
    padding: 12.5px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 6.5px;

    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;}
body > section > div.controls > div > input[type="number"]{
    color: #fff;
    width: 100px;
    font-weight: 900;
    font-size: 1em;
    background-color: transparent;
    border: none;
    outline: none;}

body > section > div.controls #regenerate:hover{background-color: rgba(255, 255, 255, 0.5);}
body > section > div.controls #regenerate{
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color .25s ease-in-out;}

#nuage {
    position: absolute;
    width: 150%;
    height: 150%;

}

@keyframes nuage {
    from {
        margin-left: -300px;
    }
    to{
        margin-left: 0px;
    }
}

.slide {
    animation: nuage 25s infinite alternate;
}
