* {
    margin: 0;
    top: 0;
    list-style: none;
    font-family: "Poppins";
}

body {
    background-color: rgba(225, 165, 19, 0.5);
    background-image: url(noise.png);
    background-size: cover;
}

.content {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgba(225, 165, 19, 0.5);
    background-size: cover;
    background-image: url(noise.png);
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.menu {
    display: flex;
    align-items: center;
    width: 20%;
    margin: 10px 0px 10px 20px;
}

.perso {
    margin-left: 40px;
    width: 40%;
    height: 110px;
    width: 130%;
    display: flex;
    align-items: center;
    background-color: rgab(220, 166, 20, 0.5);
    color: rgb(37, 35, 33);
    border: 2px solid rgba(59, 58, 58, 0.46);
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
    z-index: 10;
}

.perso:hover {
    border: 2.5px solid rgba(59, 58, 58, 0.46);
    box-shadow: 0px 0px 10px rgba(59, 58, 58, 0.46), inset 0px 0px 10px rgba(59, 58, 58, 0.46);
}

.perso .left {
    height: 100%;
    width: 105px;
    border: 2px solid rgba(59, 58, 58, 0.46);
    border-radius: 20px;

}


.menu:nth-child(1) .perso .left {
    background-image: url(pingouin-fleur.png);
    background-size: cover;
}

.menu:nth-child(2) .perso .left {
    background-image: url(pingouin.png);
    background-size: cover;
}

.menu:nth-child(3) .perso .left {
    background-image: url(pingouin-echarpe.png);
    background-size: cover;
}

.menu:nth-child(4) .perso .left {
    background-image: url(pingouin-bonnet.png);
    background-size: cover;
}


.perso .right h1 {
    font-size: 2.2em;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
}

.perso-bg {
    width: 60%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0;
    left: 20%;
    z-index: 1;
}


.perso-bg img {
    display: none;
}

.active .perso-bg img {
    display: flex;
}


#progress {
    background-color: rgba(255, 255, 255, 0.747);
    height: 3px;
    width: 97%;
    position: fixed;
    top: 2%;
    left: 0;
    margin-top: 6%;
    margin-left: 2%;
    margin-right: 2%;
}

#bloc {
    display: block;
    position: sticky;
}

h2 {
    font-family: "Poppins";
    font-size: 2em;
    font-weight: 500;
    color: rgb(37, 35, 33);
    z-index: 5;
    width: 120px;
    border: 2px solid rgba(59, 58, 58, 0.46);
    border-radius: 20px;
    margin-left: 27%;
    margin-right: 40%;
    margin-top: 40%;
    align-items: center;
    position: fixed;
    display: inline-flex;
    justify-content: center;
    height: 80px;
    left: 20%;
    transition: 0.2s;
    cursor: pointer;
    top: 5%;
}

h2:hover {
    border: 2.5px solid rgba(59, 58, 58, 0.46);
    box-shadow: 0px 0px 10px rgba(59, 58, 58, 0.46), inset 0px 0px 10px
}

#retour2 {
    font-family: "Poppins";
    font-size: 2em;
    font-weight: 0;
    color: rgb(37, 35, 33);
    z-index: 500;
    width: 100px;
    border: 2px solid rgba(0, 0, 0, 0.46);
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 1%;
    align-items: center;
    position: fixed;
    display: inline-flex;
    justify-content: center;
    height: 70px;
    left: 0;
    transition: 0.2s;
    cursor: pointer;
    top: 1%;
}

#retour2:hover {
    border: 2.5px solid rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.46), inset 0px 0px 10px rgba(0, 0, 0, 0.46);
}