* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-weight: 700;
    color: #fff;
    overflow: hidden;}
canvas{pointer-events: none;}
body > canvas#game{
    position: absolute;
    top: 0;
    left: 0;

    z-index: 5;
}

body > canvas#trees {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 10;
}

#nuage {
    position: absolute;
    width: 150%;
    height: 150%;
    z-index: 100;
}

@keyframes nuage {
    from {margin-left: -300px;}
    to{margin-left: 0px;}
}

.slide {animation: nuage 25s infinite alternate;}

canvas{
    filter: blur(5px);
}
@media (max-width: 1200px and screen) {
section.selection{
margin: 2.5% !important;
}
}
section.selection{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(3, 20%);
}

section.selection > a{
    position: relative;
    margin: 15px;
    text-decoration: none;
    color: white;
    padding: 15px;
    padding-bottom: 0;
    background-color: rgba(25,25,25,0.75);
    border-radius: 5px;
    min-width: 250px;
    height: auto;
    min-height: 100px;
    background-repeat: 50%;
}

section.selection > a.large{
    grid-column: span 2;
}
section.selection > a.long{grid-row: span 2;}
section.selection > a img{
    width: 18px;
    margin-left: 5px;
}
section.selection > a > p{
    padding: 5px;
    padding-bottom: 0;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 500;
}

section.selection > a:hover{background-color: rgba(25,25,25,0.6);}
section.selection > div.information{
    max-width: 450px;
    padding: 15px;

    margin: 15px;
    background-image: url(./noise.png);
    background-repeat: 350%;
    background-color: rgba(255,255,255,0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgba(25,25,25);

    grid-column: 1;
    grid-row: 1 / 3;
}

section.selection > div.information > hr{
    width: 40%;
    height: 5px;
    background-color: rgba(41,41,41);
    border-radius: 5px;
    border: none;
}
section.selection > div.information > p strong{text-decoration: underline dashed;}
section.selection > div.information > p{
    font-size: 1.5em;
    text-align: left;
    max-width: 90%;
    padding: 10px;
    
}
section.selection > div.information > h1{
    font-size: 1.55em;
    line-height: 1.25em;
    font-weight: 800;
    font-family: sans-serif;
}

section.selection span{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px;
    color: rgba(255,255,255,0.25);
}